<div class="col-md-4 offset-md-4">
   <div class="card">
     <div class="card-body">
       <form>
         <div class="form-group">
            <input type="text" name="title" placeholder="Title" class=" form-control" [(ngModel)]="game.title" autofocus>
         </div>
          <div class="form-group">
             <textarea name="description" placeholder="Description" rows="3" class="form-control"
             [(ngModel)]="game.description"></textarea>
          </div>
          <div class="form-group">
            <input type="url" name="image" placeholder="Image" class=" form-control"
            [(ngModel)]="game.image">
          </div>
          <button class="btn btn-success btn-block p-3" (click)="saveNewGame()"> Save</button>
       </form>
     </div>
   </div>
</div>